name: cd

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  Deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.1"

      - name: Build docker by using script
        run: bash ./scripts/buildprod.sh

      - id: auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v3
        with:
          project_id: notely-488722

      - name: Configure Docker auth for Artifact Registry
        run: gcloud auth configure-docker us-central1-docker.pkg.dev --quiet

      - name: gcloud builds submit
        run: |
          IMAGE_URI="us-central1-docker.pkg.dev/notely-488722/notely-ar-repo/notely"
          gcloud builds submit --tag ${IMAGE_URI}:latest .

      - name: Show pushed image tag
        run: |
          IMAGE_URI="us-central1-docker.pkg.dev/notely-488722/notely-ar-repo/notely"
          echo "Pushed ${IMAGE_URI}:latest"
      - name: Deploy to Cloud Run
        run: gcloud run deploy notely --image us-central1-docker.pkg.dev/notely-488722/notely-ar-repo:latest --region us-central1 --allow-unauthenticated --project notely-488722 --max-instances=4
