name: cd

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  Deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.1"

      - name: Build docker by using script
        run: bash ./scripts/buildprod.sh

  gcloud_builds_submit:
    name: gcloud builds submit
    runs-on: ubuntu-latest
    needs: Deploy

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - id: auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v3
        with:
          project_id: notely-488722

      - name: Submit build to Cloud Build
        run: |
          IMAGE_URI="us-central1-docker.pkg.dev/notely-488722/notely-ar-repo/notely"
          gcloud builds submit --tag ${IMAGE_URI}:${GITHUB_SHA} .
          gcloud artifacts docker tags add ${IMAGE_URI}:${GITHUB_SHA} ${IMAGE_URI}:latest

      - name: Show pushed image tags
        run: |
          IMAGE_URI="us-central1-docker.pkg.dev/notely-488722/notely-ar-repo/notely"
          echo "Pushed ${IMAGE_URI}:${GITHUB_SHA}"
          echo "Pushed ${IMAGE_URI}:latest"
